*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.game{
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
h1{
    text-align: center;
    padding:  40px 0px ;
    font-size: 50px;
}
.game .cell{
    width: 30%;
    height: 30%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    cursor: pointer;
    position: relative;
    
}

.game .cell_1::after {
    content: '';
    width: 170px;
    height: 10px;
    background-color: rgb(30, 255, 0);
    transform: rotate(360deg);
    position: absolute;
    border-radius:25px;
}
.game .cell_2::after {
    content: '';
    width: 170px;
    height: 10px;
    background-color: rgb(30, 255, 0);
    transform: rotate(90deg);
    position: absolute;
    border-radius:25px;
}
.game .cell_3::after {
    content: '';
    width: 170px;
    height: 10px;
    background-color: rgb(30, 255, 0);
    transform: rotate(53deg);
    position: absolute;
    border-radius:25px;
}
.game .cell_4::after {
    content: '';
    width: 170px;
    height: 10px;
    background-color: rgb(30, 255, 0);
    transform: rotate(127deg);
    position: absolute;
    border-radius:25px;
}
.cell-win{
    background-color: black;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer span{
    font-size: 40px; 

}
.footer button{
    border: none;
    background-color: blue;
    font-size: 40px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;

}
.footer button:hover{
    color: black;
    box-shadow: 5px 4px 20px 11px rgb(103, 149, 219);
}